.header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 375px;
  height: 59px;
  padding: 0 24px 0 0;
}

.header .responsive {
}

.hamburgerContainer {
  cursor: pointer;
  display: flex;
}

.logoContainer {
  position: absolute;
  left: 24px;
  bottom: -7px;
  display: flex;
  cursor: pointer;
}

.logo {
}

.navContainer {
  display: none;
  position: relative;
}

.navContainer div {
  cursor: pointer;
}

.navContainer div:hover {
  color: var(--darkGrayishBlue);
}

.buttonContainer {
  display: none;
}

.navModalContainer {
  position: absolute;
  top: 110px;
  z-index: 1;
  width: 330px;
  height: 291px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  letter-spacing: -0.29px;
  text-align: center;
  color: black;
  background-color: white;
}

.navModalContainer a {
  text-decoration: none;
  color: black;
}

.navModalContainer.active {
  display: flex;
}

@media (min-width: 1440px) {
  .header {
    display: flex;
    justify-content: center;
    width: 1440px;
    height: 100px;
  }

  .logoContainer {
    left: 190px;
    bottom: 0px;
  }

  .hamburgerContainer {
    display: none;
  }

  .buttonContainer {
    position: absolute;
    right: 165px;
    display: block;
  }

  .navContainer {
    display: flex;
    flex-direction: row;

    height: 19px;

    font-size: 13px;
    text-align: center;
  }

  .navContainer div:not(:first-child) {
    margin-left: 32px;
  }

  .navModalContainer.active {
    display: none;
  }
}
