.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 3226px;
	border: 1px solid green;
	background-image: url('/bg-tablet-pattern.svg');
	background-repeat: no-repeat;
	background-size: 500px;
	background-position: 50px -150px;
}
