.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 3226px;
  background-image: url("/bg-tablet-pattern.svg"), url("/bg-tablet-pattern.svg");
  background-repeat: repeat-y;
  background-repeat: no-repeat;
  background-size: 475px, 350px;
  background-position:40px -100px, 240px 500px;
}
