.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 538px;

  width: 375px;
  background-color: #1d1e25;
}

.footerContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 538px;

  width: 375px;
}
.emailContainer {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  height: 83px;
  width: 100%;
}

.emailContainer button {
  width: 80px;
  height: 44px;
  margin-left: 8px;
}
.emailContainer input {
  width: 230px;
  height: 44px;
  font-size: 13px;
  letter-spacing: -0.1px;
  border-radius: 25px;
  padding-left: 20px;
}

.emailContainer input:focus {
  outline: none;
}

.emailContainer input::placeholder {
  color: var(--darkGrayishBlue);
}

.emailErrorMessage {
  position: absolute;
  bottom: 0;
  padding-left: 20px;
  font-size: 10px;
  font-style: italic;
  color: var(--brightRed);
}

.linksContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 48px;
  width: 100%;
  color: white;
  letter-spacing: -0.23px;
}

.linkContainerRow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  height: 100%;
  font-size: 15px;
  letter-spacing: -0.23px;
  text-align: start;
  font-weight: 400;
}

.linkContainerRow div {
  cursor: pointer;
}

.linkContainerRow div:hover {
  color: var(--brightRed);
}

.socialLinkContainer {
  display: flex;
  justify-content: space-between;
  width: 296px;
  height: 32px;
  margin-top: 45px;
}

.socialIcon {
  cursor: pointer;
}

.socialIcon:hover {
  filter: invert(40%) sepia(93%) saturate(1197%) hue-rotate(339deg)
    brightness(99%) contrast(91%);
}

.logoContainer {
  margin-top: 50px;
}

.copyright {
  margin-top: 30px;

  color: var(--darkGrayishBlue);
  font-size: 13px;
  letter-spacing: -0.2px;
}

.topFooterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 375px;
  height: 405px;
  background-color: var(--brightRed);
}

.topFooterContentContainer {
  width: 312px;
  height: 223px;
}
.topFooterContentTitle {
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -1px;
  font-weight: 700;
  text-align: center;

  color: white;
}

.topFooterButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 29px;
}
.topFooterButtonContainer button {
  color: var(--brightRed);
  background-color: white;
}

.topFooterButtonContainer button:hover {
  color: #f98f75;
}

@media (min-width: 1440px) {
  .footerContainer {
    display: flex;
    justify-content: center;
    min-height: 250px;
    width: 100%;
  }

  .footerContentContainer {
    position: relative;
    display: grid;
    grid-template-columns: 23% 47% 30%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
      "logo links search"
      "social links copyright";
    min-height: 250px;
    width: 1440px;
  }

  .logoContainer {
    grid-area: logo;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .linksContainer {
    grid-area: links;
    height: 100%;
  }

  .linkContainerRow {
    gap: 13px;
    justify-content: center;
  }

  .socialLinkContainer {
    grid-area: social;
    display: flex;
    justify-content: flex-end;
    gap: 13.33px;
    width: 100%;
    margin-left: 10px;
  }
  .socialIcon {
    width: 20px;
    height: 20px;
  }
  .emailContainer {
    grid-area: search;
    justify-content: flex-start;
    width: 100%;
  }

  .copyright {
    padding-left: 100px;
    grid-area: copyright;
    text-align: left;
  }

  .topFooterContentContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
  }
  .topFooterContentTitle {
    width: 445px;
    text-align: left;

    margin-left: 190px;
  }

  .topFooterButtonContainer {
    margin-right: 110px;
  }

  .topFooterContentTitle br {
    display: none;
  }

  .topFooterContainer {
    height: 220px;
    width: 100%;
  }
}
