.footerContainer {
  /* color: var(--brightRed) */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 538px;
  width: 375px;
	background-color: #1D1E25;
}
.searchContainer {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	height: 44px;
	width: 100%;
}

.searchContainer button {
	width: 80px;
	height: 44px;
	margin-left: 8px;
}
.searchContainer input {
	width: 230px;
	height: 100%;
	font-size: 13px;
	border-radius: 25px;
}

.searchContainer input::placeholder {
	color: var(--darkGrayishBlue);
	padding-left: 24px;
}
.linksContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 48px;
	width: 100%;
	color: white;
	font-size: 14px;
	letter-spacing: -0.23px;
}

.linkContainerRow {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap:10px;
	height: 100%;
	text-align: start;
	font-weight: 400;

	/* border: 1px solid yellow; */
}

.linkContainerRow  div {
	cursor: pointer;
}

.linkContainerRow:first-child{
	/* width: 63px;
	height: 127px; */
	/* border:1px solid white; */

}

.linkContainerRow:nth-child(2){
	/* width: 95px;
	height: 92px; */
	/* border:1px solid white; */

}

.linkContainerRow div:not(:first-child) {
	/* margin-top: 13px; */
}

.linkContainerRow:nth-child(2) {
	/* margin-left: 106px; */
}

.socialLinkContainer {
	display: flex;
	justify-content: space-between;
  width: 296px;
  height: 32px;
	margin-top: 45px;
	/* border: 1px solid white; */
}

.socialIcon {
	cursor: pointer;
}

.logoContainer {
	margin-top: 50px;
}

.copyright {
	margin-top: 30px;
	/* margin-bottom: 30px; */
	color: var(--darkGrayishBlue);
	font-size: 13px;
	letter-spacing: 0.2px;
}
